* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  button {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
  }
  .lists__pokemons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 2em;
    padding: 1em;
    text-align: center;
  }
  .pokemon__img {
    border: 1px solid rgb(15, 15, 15);
    width: 100%;
    border-radius: 3px;
    margin-top: 8em;
    color: rgb(0, 0, 0);
    padding: 0.5em;
  }
  .pokemon__img img {
    height: 200px;
    width: 100%;
    margin-top: -5em;
  }
  .buttons {
    display: flex;
    justify-content: center;
    width: 200px;
    margin: 2em auto 2em;
  }
  